# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.a

# Distribution / packaging
.Python
build/

# Environments
*env
*venv
.ssh

# Don't check in the h5 artifact
.weights.h5
*.mp4
*.avi

# Training data
*data