# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.a

# Distribution / packaging
.Python
build/
*.whl

# Environments
*env
*venv*
.ssh

# Don't check in training artifact
.weights.h5
*.mp4
*.avi
*.keras
*.tflite
*savemodel
*.hef
*.har
*.log

# Training data
*data

# Deploy
build*